<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huangxue.s01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="智慧城市"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/selector_rg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Takeaway.TakeawaySellerInfoActivity"></activity>
        <activity android:name=".Activity.Takeaway.TakeawayMainActivity" />
        <activity android:name=".Activity.Lawyer.LawyerAskListActivity" />
        <activity android:name=".Activity.Lawyer.LawyerAskInfoActivity" />
        <activity android:name=".Activity.Lawyer.LawyerListActivity" />
        <activity android:name=".Activity.Lawyer.LawyerInfoActivity" />
        <activity android:name=".Activity.Lawyer.LawyerAskHomeActivity" />
        <activity android:name=".Activity.Subway.SubwayAllStationListActivity" />
        <activity android:name=".Activity.PetHospotal.AskInfoActivity" />
        <activity android:name=".Activity.Subway.SubwayMapActivity" />
        <activity android:name=".Activity.Subway.SubwayInfoActivity" />
        <activity android:name=".Activity.Subway.SubwayHomeActivity" />
        <activity android:name=".Activity.Logistics.LogisticsCompantInfoActivity" />
        <activity android:name=".Activity.Logistics.LogisticsActivity" />
        <activity android:name=".Activity.LifePay.PhonePayActivity" />
        <activity android:name=".Activity.LifePay.PhoneBillHomeActivity" />
        <activity android:name=".Activity.LifePay.LifePayActivity" />
        <activity android:name=".Activity.LookJob.QueryResumeActivity" />
        <activity android:name=".Activity.LookJob.AddResumeActivity" />
        <activity android:name=".Activity.LookJob.UpdateResumeActivity" />
        <activity android:name=".Activity.LookJob.JobInfoActivity" />
        <activity android:name=".A0Test.A0TESTActivity" />
        <activity android:name=".Activity.LookJob.LookJobHomeActivity" />
        <activity android:name=".Activity.Poor.AidThePoorActivity" />
        <activity android:name=".Activity.DataAnalysis.CityAnalyseActivity" />
        <activity android:name=".Activity.PetHospotal.AskDoctorActivity" />
        <activity android:name=".Activity.PetHospotal.LookDoctorActivity" />
        <activity android:name=".Activity.PetHospotal.PetHomeActivity" />
        <activity android:name=".Activity.Traffic.TrafficHomeActivity" />
        <activity android:name=".Activity.Film.FilmInfoActivity" />
        <activity android:name=".Activity.News.NewsSearchActivity" />
        <activity android:name=".Activity.Film.FilmHomeActivity" />
        <activity android:name=".Activity.Bus.BusOrderActivity" />
        <activity android:name=".Activity.MyInfo.MyOrderActivity" />
        <activity android:name=".Activity.Bus.BusSubmitActivity" />
        <activity android:name=".Activity.Bus.BusUserActivity" />
        <activity android:name=".Activity.Bus.BusDateActivity" />
        <activity android:name=".Activity.Bus.BusInfoActivity" />
        <activity android:name=".Activity.Bus.BusHomeActivity" />
        <activity android:name=".Activity.Hospital.MedicalCardAddActivity" />
        <activity android:name=".Activity.Hospital.MedicalCardActivity" />
        <activity android:name=".Activity.Hospital.HospitalInfoActivity" />
        <activity android:name=".Activity.Hospital.HospitalHomeActivity" />
        <activity android:name=".Activity.LookRoom.LookRoomInfoActivity" />
        <activity android:name=".Activity.LookRoom.LookRoomHomeActivity" />
        <activity android:name=".Activity.Stop.StopRecordActivity" />
        <activity android:name=".Activity.Stop.StopInfoActivity" />
        <activity android:name=".Activity.Stop.StopListActivity" />
        <activity android:name=".Activity.MyInfo.MyInfoActivity" />
        <activity android:name=".Activity.Login.LoginActivity" />
        <activity android:name=".Activity.Main.StartActivity" />
        <activity android:name=".Activity.News.NewsInfoActivity" />
        <activity android:name=".Activity.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>